.text{
    font-family: 'PT Mono';
}

#head-title{
    font-size: 80px;
}

#body{
    background-color: #fff8e9;
}

/* Slider option start */
.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.imgs_slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.imgs_slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 750px;
}

.navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.navigation-btn {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-btn:not(:last-child) {
    margin-right: 40px;
}

.navigation-btn:hover {
    background: black;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}
/* Slider option end */

#wine-category{
    display: flex;
    text-align: center;
}

#wine-category div{
    border: 1px solid;
    border-left: 0;
}

#wine-category div:nth-child(1){
    border-left: 1px solid;
}

.wine{
    width: 25%;
}

.wine img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}