#root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1E1E1E;
    line-height: 1.5;
    background-image: url(http://yesofcorsa.com/wp-content/uploads/2015/08/1144_wine.jpg);
    transition-property: background-color;
    background-size: cover;
      background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    font-family: 'PT Mono';
 }
 #main{
    min-height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
 }
 
 #container{
   margin-top: -60px;
    margin-left: 260px;
    margin-right: 260px;
    text-align: center;
 }
 #form-div{
   padding: 32px 60px 32px 40px;
   background-color: #FFFFFF;
   border-radius: 4px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   display: flex;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
 }
 #inside-form{
    display: flex;
    flex-direction: column;
 }
 #inside-form div{
    width: 100%;
    position: relative;
 }
 #label1{
    display: block;
    text-align: start;
    /* font-size: 1rem; */
    margin-right: 12px;
    margin-bottom: 8px;
    font-weight: medium;
    font-size: 20px;
    color: white;
 }
 #name{
    width: 100%;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #E2E8F0;
 }
 #email{
    width: 100%;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #E2E8F0;
 }
 #password{
    width: 100%;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #E2E8F0;
 }
 h2{
    text-align: center;
    font-size: 35px;
 }
 p{
    text-align: center;
 }
img{
   margin-left: 130px;
   margin-right: 100.475px;
    max-height: 100px;
    margin-bottom: 10px;
}
#signin-btn{
    display: inline-flex;
    align-items: center;
    margin-left: 4%;
    justify-content: center;
    border: none;
    width: 100%;
    line-height: 1.2;
    border-radius: 0.375rem;
    font-weight: 600;
    height: 3rem;
    min-width: 3rem;
    font-size: 1rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    background: #BF0D12;
    color: white;
}
#signup{
    font-weight: bolder;
    color: #BF0D12;
    text-decoration: underline;
}
#signup:hover{
    cursor: pointer;
}
#signin-btn:hover{
   cursor: pointer;
}

#show-password{
   color: #fff8e9;
}